body {
  height: 2000px;
}
.body_bg {
  background-color: #222D32;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.mt_150 {
  margin-top: 150px;
}
.mt_20 {
  margin-top: 20px;
}
.red {
  color: #A94442;
}
/*登录页面*/
.panel {
  .panel-heading {
    text-align: center;
    h3 {
      font-size: 20px;
      height: 40px;
      line-height: 40px;
    }
  }
}
/*首页*/
// 左侧
.lt_aside {
  width: 180px;
  background-color: #222D32;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
  z-index: 999;
  transition: all 1s;
   // 标题
  .brand {
    height: 50px;
    background-color: #367FA9;
    line-height: 50px;
    text-align: center;
    a {
      color: #fff;
      font-size: 25px;
    }
  }
  // 用户
  .user {
    height: 180px;
    text-align: center;
    img {
      margin-top: 20px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    p {
      color: #fff;
      font-size: 18px;
      height: 50px;
      line-height: 50px;
    }
  }
  // 导航
  .nav {
    text-align: center;
    ul {
      li {
        a {
          display: block;
          color: #fff;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          border-left: 3px solid transparent;
          i {
            margin-right: 6px;
          }
        }
        a.current {
          background-color: #1D1F21;
          border-left: 3px solid #006699;
        }
      }
      .child >a {
          display: block;
          padding-left: 20px;
      }
    }
  }

}
.lt_aside.hidemenu {
  left:-180px;
}
// 右侧
.lt_main {
  width: 100%;
  height: 100%;
  background-color: pink;
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
  .lt_topbar {
    width: 100%;
    height: 50px;
    background-color: #3C8DBC;
    position: fixed;
    top:0;
    left: 0;
    padding-left: 180px;
    transition: all 1s;
    a {
      color: #fff;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 20px;
    }
  }

}
.lt_main.hidemenu {
  padding-left: 0;
}
.lt_topbar.hidemenu {
  padding-left: 0;
}